CLIENT_PRIVATE_KEY_PATH=../../keys/consumer_secret_key.pem
CLIENT_KEY_ALGO=secp256k1
SERVER_URL=http://localhost:4021
ENDPOINT_PATH=/oracle/feed
CASPER_NODE_RPC=https://node.testnet.casper.network/rpc
CASPER_CHAIN_NAME=casper-test
WCSPR_PACKAGE_HASH=3d80df21ba4ee4d66a2a1f60c32570dd5685e4b279f6538162a5fd1314847c1e
