PORT=4022
CASPER_NETWORKS=casper:casper-test
SECRET_KEY_PATH_CASPER_CASPER_TEST=../../keys/facilitator_secret_key.pem
SECRET_KEY_ALGO_CASPER_CASPER_TEST=secp256k1
RPCURL_CASPER_CASPER_TEST=https://node.testnet.casper.network/rpc
TRANSACTION_PAYMENT_MOTES=7000000000
